@keyframes fadeBackgroundColor {
  from {
    background-color: #162131;
    }
  to {
    background-color: #3C8DBC;
  }
}

@keyframes fadeColor {
  from {
    color: #162131;
    }
  to {
    color: #3C8DBC;
  }
}

@keyframes slideButtons {
  from {
    opacity: 0;
    }
  to {
    transform: translateY(46vh);
    opacity: 1;
  }
}

.landingButtons {
  animation: slideButtons 1.7s 3.1s 1 normal both;
  transform: translateY(90vh);
}

.landingButtons .ui.button {
  background: #ffffff none;
  animation: fadeColor 1.7s ease 3.1s 1 normal both;
  color: rgb(60, 141, 188);
}

.wrapper {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
}

.link-block {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
}

a:link {
  text-decoration: underline; 
}