#blueOverlay {
  background-color: rgba(255, 255, 255, 0.5882352941176471)
}

#blueOverlay:hover {
  background-color: rgba(255, 255, 255, 0)
}

#whiteOverlay {
  background-color: rgba(123, 190, 202, 0.23921568627450981)
}

#whiteOverlay:hover {
  background-color: rgba(123, 190, 202, 0)
}