.itemReview {
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  background-color: white;
}

.itemReviewInputBox {
  margin: auto;
  width: 26rem;
  text-align: center;
  padding-top: .3rem;
  padding-bottom: .3rem;

}

.itemReviewInputBox .itemReviewInput {
  /* padding-bottom: 1rem; */
  width: 100%;
}

#itemReviewFooter {
  font-family: Arial;
  font-size: 16px;
  color: rgba(89, 89, 89, 0.8);
  width: 30rem;
  margin: auto;
}

.itemReviewFooterRow {
  margin-bottom: -1rem;
  margin-top: -1rem;
}

.itemReview .ui.button {
  margin: auto;
  /* background: #E6E6E6 none; */
  color: white;
  width: 25vw;
}

.itemReview .ui.button:hover {
  background: #313131  none;
}

.ui.header{
  color: rgba(49, 49, 49, 0.86)
}

.modalLabel {
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.3rem;
  color: rgba(36, 36, 36, 0.8);
  padding-bottom: 1rem;
}

.warningHeader {
  height: 100%;
  margin: auto;
}

.modalHeader {
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.3rem;
  color: rgb(36, 36, 36);
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: .5rem;
}

.modalContent {
  text-align: center;
  font-family: "Roboto";
  font-size: 1rem;
  color: rgba(72, 72, 72, 0.831);
  padding-top: 1.5rem;
  width: 85%;
  margin: auto;
}

.modalSubContent {
  text-align: center;
  font-family: "Roboto";
  font-size: 1rem;
  color: rgba(72, 72, 72, 0.831);
  padding-top: 1.5rem;
  width: 100%;
  margin: auto;
}

.modalEmphasis {
  font-family: "Roboto";
  color: rgba(72, 72, 72, 0.831);
  font-weight: 600;
}

.keyBox {
  width: 95%;
  margin: auto;
  border: 1px solid #DFDFDF;
  border-radius: 7px;
  background-color: #FBFBFB;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.listKeyHeader{
  padding-left: 1.5rem;
  font-family: "Open Sans";
  font-weight: 600;
  color: #4D4D4D;
}

.listKey{
  padding-left: 1.5rem;
  margin-top: .5rem;
  padding-bottom: .5rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: .9rem;
}

.keyDownloadButton{
  margin-top: .5rem !important;
}