.uploadImage {
  padding-top: 5vh;
  background-color: white;
  height: 100%;
}

#uploadImageFooter {
  font-family: Arial;
  font-size: 16px;
  color: rgba(89, 89, 89, 0.8);
}

.uploadImageFooterRow {
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.uploadImage #imageChoice .ui.button {
  margin: auto;
  background: rgb(255, 255, 255) none;
  color: #313131;
}

.uploadImage #imageChoice .ui.button:hover {
  color: #d2d2d2;
}

.ui.header{
  color: rgba(49, 49, 49, 0.86)
}

#ImageUploadDialog {
  margin: auto;
  width: 28rem;
  overflow: visible;
}

#imageUploadWrapper{
  height: 31rem;
  border: 1px solid rgba(34,36,38,0.15);
  border-radius: 6px;
  border: none;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}

#chooseImageBox{
  height: 40%;
  align-content: center;
  justify-content: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

#imageChoice{
  margin-top: -2.5rem;
}

#divider{
  padding-bottom: .4rem;
  padding-left: 20%;
  padding-right: 20%;
}

#uploadImageButton .ui.button {
  margin: auto;
  background: #E6E6E6 none;
  color: white;
  width: 15vw;
}

#uploadImageButton .ui.button:hover {
  background: #313131  none;
}