.uploadImage {
  padding-top: 5vh;
  background-color: white;
  height: 100%;
}

#uploadImageFooter {
  font-family: Arial;
  font-size: 16px;
  color: rgba(89, 89, 89, 0.8);
}

.uploadImageFooterRow {
  margin-bottom: 2vh;
  margin-top: -2vh;
}

.uploadImage #imageChoice .ui.button {
  margin: auto;
  background: rgb(255, 255, 255) none;
  color: #313131;
}

.uploadImage #imageChoice .ui.button:hover {
  color: #d2d2d2;
}

.ui.header{
  color: rgba(49, 49, 49, 0.86)
}

#ImageUploadDialog {
  margin: auto;
  width: 50%;
  overflow: visible;
}

#imageUploadWrapper{
  height: 60vh;
  border: 1px solid rgba(34,36,38,0.15);
  border-radius: 6px;
  border: none;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}

#chooseImageBox{
  height: 35%;
  padding-top: 10px;
  padding-bottom: 20px;
  align-content: center;
  justify-content: center;
  margin: auto;
}

#imageChoice{
  margin: auto;
}

#test{
  padding-left: 60px;
  padding-right: 60px;
}

#uploadImageButton .ui.button {
  margin: auto;
  background: #E6E6E6 none;
  color: white;
  width: 15vw;
}

#uploadImageButton .ui.button:hover {
  background: #313131  none;
}